/* body {
    background-color: lightskyblue;
} */

* {
    margin: 0;
    padding: 0;
}

button {
    padding: 5px 8px;
}

div {
    padding: 100px;
}

.light {
    background-color: lightskyblue;
    color: black;
}

.dark {
    background-color: black;
    color: white;
}

#theme-switcher {
    padding: 40px;
    width: 40%;
    margin: 40px auto 20px auto;
    background-color: rgba(173, 216, 230, 0.26);
    border: 1px black dotted;
    border-radius: 10px;
    text-align: center;
}

#theme-switcher p {
    margin-bottom: 10px;
}

#p5Sketch {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.center {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

/* #sketch-intro {
} */

hr {
    width: 30%;
    margin: 70px auto 10px auto;
    border: lightslategrey 1px solid;
}
